* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Santa-Catarina';
    src: url('../fonts/Santa\ Catarina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    all: unset;
}

body {
    font-family: 'Santa-Catarina', sans-serif;
    background-color: rgba(245, 238, 235, 1);
}

.container {
    padding: 50px 100px; 
}

.date {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
}

.leaves-img {
    position: absolute;
    left: 60px;
    top: 0;
}

.date-text {
    position: relative;
    z-index: 100;
    margin: 50px 0;

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 305px;
}

.date-text h1 {
    font-size: 85px;
    line-height: 100%;
    font-weight: 400;
}

.date-text h2 {
    font-size: 56px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 12px;
}

.date-text p {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.polaroid-img {
    position: relative;
    z-index: 100;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.time-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 64px;
    line-height: 100%;
}

.time-text {
    font-family: 'Forum', sans-serif;
    font-size: 36px;
}

footer {
    margin: 100px 0;
    text-align: center;
}

.text {
    font-family: 'Forum', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 40px;
}

.text p {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 60px;
}

.info {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .leaves {
    position: absolute;
    top: -100px;
    right: 250px;
}

.info-part {
    position: relative;
    z-index: 100;
    margin-bottom: 75px;
    max-width: 936px;
}

.sub-heading {
    font-size: 56px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 35px;
}

.info-text {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Forum', sans-serif;
    line-height: 140%;
}

.flower-img {
    position: absolute;
    top: -90px;
    right: 0;
}

.info-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.telegram-link {
    padding: 25px 85px;
    font-size: 32px;
    line-height: 140%;
    font-family: 'Forum', sans-serif;
    color: #fff;

    background-color: rgba(120, 178, 101, 1);
    border-radius: 20px;

    text-align: center;
    align-self: center;
    margin-top: 40px;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}

.telegram-link:hover {
    background-color: rgba(80, 140, 60, 1);
}

.location-content {
    position: relative;
    min-width: 900px;
}

.location-img {
    width: 100vw
}

.location {
    position: absolute;
    top: 47%;
    right: 50%;
    transform: translate(50%, -47%);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);   
    padding: 55px 150px;
    border-radius: 50px;
}

.location .sub-heading {
    text-align: center;
}

.line {
    height: 2px;
    width: 495px;
    background: linear-gradient(90deg, rgba(198, 154, 101, 1), rgba(253, 219, 174, 1));
    margin-bottom: 45px;
}

.time-place {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time, .place {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.time-place-text {
    font-family: 'Forum', sans-serif;
    font-size: 24px;
    line-height: 140%;
}

.time-place-number {
    font-size: 36px;
    line-height: 100%;
    font-family: 'Forum', sans-serif;
}

iframe {
    border-radius: 20px;
    max-height: 350px;
}